:root{
  --color1: rgb(104, 182, 156);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-repeat: repeat;
  background-image: url('./images/background_01.png');
  background-size: auto auto;
  position: absolute;
  z-index: -1;
  top: 0px;
  width: 100%;
  height: 100%;
  /*  cursor: url(./images/cursorTest124px.png) 15 15, move !important;  */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  margin:0;
  padding:0;
  height: 100%;
}
