

.text-element{
    position: absolute;
    font-size: 12px;
    word-wrap: break-word;
    margin: 33px 10px 10px 36px;
    z-index: 100;
}


.drag-box {
    position: absolute;
    background: #555;
    border: 1px solid #999;
    border-radius: 3px;
    /* margin: 10px; */
    padding: 15px;
    float: left;
}

.drag-box-text {
    background-color: #fff;
    border-radius: 3px;
    min-height: 28px;
}
