.svg-canvas {
    position: absolute;
    pointer-events: auto;
    z-index: 10;
    width: calc(100vw - 111px);
    height: calc(100vh - 160px);
}

.svg-canvas-rect {
    width: calc(100vw - 111px);
    height: calc(100vh - 160px);
}

.text-element{
    position: absolute;
    z-index: 100;
    margin: 35px;
    font-size: 12px;
    word-wrap: break-word;
}