.svg-canvas {
    position: absolute;
    pointer-events: auto;
    z-index: 10;
    width: calc(100vw - 111px);
    height: calc(100vh - 160px);
}

.svg-canvas-rect {
    width: calc(100vw - 111px);
    height: calc(100vh - 160px);
}


/* from canvas-svg */
.text-element2{
    position: absolute;
    background: #fff;
    z-index: 100;
    font-size: 12px;
    word-wrap: break-word;
}

.text-element{
    position: absolute;
    font-size: 12px;
    word-wrap: break-word;
    margin: 6px 10px 10px 8px;
}


.drag-box {
    position: absolute;
    background: #555;
    border: 1px solid #999;
    border-radius: 3px;
    /* margin: 10px; */
    padding: 15px;
    float: left;
}

.drag-box-text {
    background-color: #fff;
    border-radius: 3px;
    min-height: 28px;
}